<div class="capco-container mat-elevation-z8">
    <table border=1 frame=void rules=rows class="table table-bordered table-striped mat-table">
      <thead>
        <tr>
          <th class="sticky-header" style="width:15pt;">ID</th>
          <th class="sticky-header">Name</th>
          <th class="sticky-header">Phone</th>
          <th class="sticky-header">Email</th>
          <th class="sticky-header">Org No</th>
          <th class="sticky-header">URL</th>
          <th class="sticky-header">Company</th>
          <th class="sticky-header">Address</th>
          <th class="sticky-header">City</th>
          <th class="sticky-header">Zip</th>
          <th class="sticky-header">Geo</th>
          <th class="sticky-header">PAN</th>
          <th class="sticky-header">PIN</th>
          <th class="sticky-header">Status</th>
          <th class="sticky-header">Fee</th>
          <th class="sticky-header">Entry Date</th>
          <th class="sticky-header">Exit Date</th>
          <th class="sticky-header">First Date</th>
          <th class="sticky-header">Recent Date</th>
          <th class="sticky-header">GUID</th>
          <th class="sticky-header" style="text-align:center;">Post</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees | paginate: { id: 'listing_pagination',
                                                        itemsPerPage:itemsPerPage ,
                                                        currentPage: page,
                                                        totalItems: totalRec }">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.phone}}</td>
          <td><a href="mailto:{{emp.email}}">{{emp.email}}</a></td>
          <td>{{emp.org_num}}</td>
          <td> <a target="_blank" href={{emp.url}}>Link </a></td>
          <td>{{emp.company}}</td>
          <td>{{emp.address_1}}</td>
          <td>{{emp.city}}</td>
          <td>{{emp.zip}}</td>
          <td>{{emp.geo}}</td>
          <td>{{emp.pan}}</td>
          <td>{{emp.pin}}</td>
          <td [style.color]="setStyle(emp.status)"> <b>{{emp.status | titlecase}} </b></td>
          <td class="numbercell">{{emp.fee}}</td>
          <td>{{emp.date_entry | date:'medium'}}</td>
          <td>{{emp.date_exit | date:'medium'}}</td>
          <td>{{emp.date_first | date:'medium'}}</td>
          <td>{{emp.date_recent | date:'medium'}}</td>
          <td>{{emp.guid}}</td>
          <td><button class="button" (click) ="onPost(emp.id, emp.status)">Post</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <div style="background-color:white; padding:5pt;">
    <div style="float:right;" class="white" >
      <pagination-controls   id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        
    </div>
    <br>
    <div>
        <label>Rows in Table:
          <select [(ngModel)]="itemsPerPage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </label>
    </div>
    <br>
  </div>