.capco-container {
    display: flex;
    /*flex-direction: column;*/
    min-width: 300px;
    max-height: 800px;     
    overflow: scroll;
    background-color: white;
    padding-top: 0;
  }
  
  .capco-header {
    min-height: 64px;
    padding: 8px 24px 0;    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: y;
    max-height: 635px;
  }
  
  .mat-row, .mat-header-cell {
    width: 450vw; 
  }
  .header-cell { 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: gray;  
    color:white;
  }
  
  .numbercell{
  text-align: right;
  }
  
  .textcell{  
  text-align: left;
  }
  
  .mat-cell {
    flex: 0 0 200px;
  }
  
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: gray;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  th.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: gray;
    color: white;
    text-align: left;
    height: 25pt;
  }

  a {
    color: blue;
  } 

  
  